<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Table Tennis Sports Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>


    <h1>Table Tennis Sports Analysis</h1>
    <div id="main-container" class="flex-container">
        <div id="left-column">
            <form id="uploadForm" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <label>Upload a Video File:</label>
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                </div>
                <div class="form-row">
                    <label for="analysis_type">Select Analysis Type:</label>
                    <select id="analysis_type" name="analysis_type">
                        <option value="tech" selected>Athlete Technical Characteristics Statistics</option>
                        <option value="data">Ping Pong Balls Data Statistics</option>
                        <option value="serve">Athlete Serve and Receive Statistics</option>
                    </select>
                </div>
            </form>
        </div>
        <div id="right-column">
            <div id="progress-section" style="display: none;">
                <div id="progress-info" class="progress-info">
                </div>
                <div id="progress-bar" class="progress-bar">
                    <div id="progress" class="progress"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="results-container" class="results-container flex-container"></div>
    <hr>
    <div id="theoretical-analysis" class="analysis-section">
        <div id="analysis-content"></div>
    </div>

    <script>
        document.getElementById('uploadForm').onsubmit = async function(event) {
            event.preventDefault();
            document.getElementById('progress-section').style.display = 'block';
            const formData = new FormData(this);
            const response = await fetch(this.action, {
                method: this.method,
                body: formData
            });
            const result = await response.json();
            console.log('Upload response:', result);
            if (result.status === 'processing') {
                checkProgressAndResults(result.unique_id, result.filename);
            }
        };

        async function checkProgressAndResults(unique_id, filename) {
            const response = await fetch(`/progress_and_results/${unique_id}`);
            const result = await response.json();
            console.log('Progress and Results response:', result);

            const progress = result.progress;
            document.getElementById('progress-info').innerText = `
                Analysis Progress: ${progress.progress.toFixed(2)}%
                Elapsed Time: ${progress.elapsed_time}
                Estimated Time Remaining: ${progress.estimated_time_remaining}
            `;
            document.getElementById('progress').style.width = `${progress.progress.toFixed(2)}%`;

            if (result.status === 'completed') {
                displayResults(result.results, filename);
            } else {
                setTimeout(() => checkProgressAndResults(unique_id, filename), 5000);
            }
        }

        function displayResults(results, filename) {
            const formattedAnalysis = marked.parse(results.gpt_analysis);
            const resultsContainer = document.getElementById('results-container');

            resultsContainer.innerHTML = `
                <div class="flex-column">
                    <h2>Speed Statistics</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Direction</th>
                                <th>Max (km/h)</th>
                                <th>Average (km/h)</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${Object.entries(results.speeds).map(([direction, stats]) => `
                                <tr>
                                    <td>${direction.charAt(0).toUpperCase() + direction.slice(1)}</td>
                                    <td>${stats.max.toFixed(2)}</td>
                                    <td>${stats.avg.toFixed(2)}</td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>

                    <h2>Calories Burned</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Exercise Duration</td>
                                <td>${results.total_exercise_duration}</td>
                            </tr>
                            <tr>
                                <td>Total Calories Burned</td>
                                <td>${results.calories_burned.toFixed(1)} kcal</td>
                            </tr>
                            <tr>
                                <td>Average Calories Burned per Hour</td>
                                <td>${results.calories_burned_per_hour.toFixed(1)} kcal</td>
                            </tr>
                            <tr>
                                <td>Intensity</td>
                                <td>${results.intensity}</td>
                            </tr>
                        </tbody>
                    </table>
                    <video controls width="600" id="uploaded-video">
                        <source src="" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="flex-column">
                    <h2>Covered Area: ${results.covered_area.toFixed(2)} m²</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Cell</th>
                                <th>Ratio (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${Object.entries(results.highlight_ratios).map(([cell_points, ratio], idx) => `
                                <tr>
                                    <td>${getCellName(idx)}</td>
                                    <td>
                                        <div class="bar-container">
                                            <div class="heat-bar" style="width: ${ratio.toFixed(1)}%; background: ${getHeatBarColor(ratio.toFixed(1))};"></div>
                                            ${ratio.toFixed(1)}%
                                        </div>
                                    </td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>
                </div>
                <div class="flex-column">
                    <h2>Stroke: ${results.swing_count}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Template</th>
                                <th>Count</th>
                                <th>Percentage (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${results.templates.Arm.map(template => {
                                const count = results.match_counts.Arm[template.name] || 0;
                                const percentage = (count / results.swing_count * 100).toFixed(1);
                                return `
                                <tr>
                                    <td>${template.name}</td>
                                    <td>${count}</td>
                                    <td>
                                        <div class="bar-container">
                                            <div class="heat-bar" style="width: ${percentage}%; background: ${getHeatBarColor(percentage)};"></div>
                                            ${percentage}%
                                        </div>
                                    </td>
                                </tr>`;
                            }).join('')}
                        </tbody>
                    </table>
                    <h2>Footwork: ${results.step_count}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Template</th>
                                <th>Count</th>
                                <th>Percentage (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${results.templates.Footwork.map(template => {
                                const count = results.match_counts.Footwork[template.name] || 0;
                                const percentage = (count / results.step_count * 100).toFixed(1);
                                return `
                                <tr>
                                    <td>${template.name}</td>
                                    <td>${count}</td>
                                    <td>
                                        <div class="bar-container">
                                            <div class="heat-bar" style="width: ${percentage}%; background: ${getHeatBarColor(percentage)};"></div>
                                            ${percentage}%
                                        </div>
                                    </td>
                                </tr>`;
                            }).join('')}
                        </tbody>
                    </table>
                </div>
            `;

            document.getElementById('analysis-content').innerHTML = `
                <div class="analysis-header">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="analysis-logo">
                    <h2>Table Tennis GPT</h2>
                </div>
                ${formattedAnalysis}
                <div id="icons-container" class="icons-container">
                    <i class="fas fa-volume-up" id="speaker-icon"></i>
                    <i class="fas fa-copy" id="copy-icon"></i>
                    <i class="fas fa-sync-alt" id="refresh-icon"></i>
                    <i class="fas fa-thumbs-up" id="thumbs-up-icon"></i>
                    <i class="fas fa-thumbs-down" id="thumbs-down-icon"></i>
                </div>
            `;

            document.getElementById('uploaded-video').querySelector('source').src = 'upload/' + filename;
            document.getElementById('uploaded-video').load();

            // Icon functionality
            let utterance;
            const speakerIcon = document.getElementById('speaker-icon');

            speakerIcon.addEventListener('click', () => {
                if (speechSynthesis.speaking) {
                    // 如果正在播放语音，停止播放
                    speechSynthesis.cancel();
                    speakerIcon.classList.remove('fa-stop');
                    speakerIcon.classList.add('fa-volume-up');  // 恢复为喇叭图标
                } else {
                    // 启动语音播放
                    const gptAnalysisText = document.getElementById('analysis-content').innerText;
                    utterance = new SpeechSynthesisUtterance(gptAnalysisText);
                    speechSynthesis.speak(utterance);

                    // 切换为停止图标
                    speakerIcon.classList.remove('fa-volume-up');
                    speakerIcon.classList.add('fa-stop');
                    utterance.onend = () => {
                        // 语音播放结束后恢复为喇叭图标
                        speakerIcon.classList.remove('fa-stop');
                        speakerIcon.classList.add('fa-volume-up');
                    };
                }
            });

            document.getElementById('copy-icon').addEventListener('click', async () => {
                const gptAnalysisText = document.getElementById('analysis-content').innerText;
                try {
                    await navigator.clipboard.writeText(gptAnalysisText);
                    alert('Analysis copied to clipboard!');
                } catch (err) {
                    console.error('Failed to copy text: ', err);
                }
            });

            document.getElementById('refresh-icon').addEventListener('click', async () => {
                const previousResults = JSON.parse(sessionStorage.getItem('previousResults'));
                if (previousResults) {
                    const response = await fetch('/refresh_analysis', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(previousResults)
                    });
                    const result = await response.json();
                    if (result.status === 'success') {
                        const formattedAnalysis = marked.parse(result.gpt_analysis);
                        console.log(formattedAnalysis)
                        document.getElementById('analysis-content').innerHTML = `
                            <div class="analysis-header">
                                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="analysis-logo">
                                <h2>Table Tennis GPT</h2>
                            </div>
                            ${formattedAnalysis}
                            <div id="icons-container" class="icons-container">
                                <i class="fas fa-volume-up" id="speaker-icon"></i>
                                <i class="fas fa-copy" id="copy-icon"></i>
                                <i class="fas fa-sync-alt" id="refresh-icon"></i>
                                <i class="fas fa-thumbs-up" id="thumbs-up-icon"></i>
                                <i class="fas fa-thumbs-down" id="thumbs-down-icon"></i>
                            </div>
                        `;
                    } else {
                        alert('Failed to refresh analysis.');
                    }
                } else {
                    alert('No previous analysis data available.');
                }
            });

            document.getElementById('thumbs-up-icon').addEventListener('click', () => {
                alert('Thanks for your feedback!');
            });

            document.getElementById('thumbs-down-icon').addEventListener('click', () => {
                alert('Sorry to hear that! We appreciate your feedback.');
            });

            sessionStorage.setItem('previousResults', JSON.stringify(results));
        }

        function getCellName(idx) {
            const specialTexts = {9: "R00", 6: "R01", 3: "R02", 8: "R10", 5: "R11", 2: "R12", 7: "R20", 4: "R21", 1: "R22",
                                  12: "L00", 15: "L01", 18: "L02", 11: "L10", 14: "L11", 17: "L12", 10: "L20", 13: "L21",
                                  16: "L22"};
            return specialTexts[idx + 1] || (idx + 1).toString();
        }

        function getHeatBarColor(percentage) {
            const green = Math.min(255, Math.floor(2.55 * (100 - percentage)));
            const red = Math.min(255, Math.floor(2.55 * percentage));
            return `rgb(${red},${green},0)`;
        }
    </script>
</body>
</html>
